---

---


<table class="text-sm table-auto rounded-md">
    <caption class="caption-top p-2 text-slate-400">
        TibCERT uses the TLP as defined by FIRST(Forum of Incident Response and Security Teams).
      </caption>
    <tr class="bg-slate-300 uppercase">
        <th class="p-2">TLP</th>
        
        <th class="p-2">Abbreviation</th>
        <th class="p-2">Description</th>
    </tr>
    <tr class="bg-slate-200 hover:bg-red-100">
        <td>
            <img src="../assets/tlp-red.png" alt="" class="w-96">
            <h6 class="text-center">Red</h6>
        </td>
        
        <td class="p-2">Not for disclosure, restricted to participants only.</td>
        <td class="p-2">Sources may use TLP:RED when information cannot be effectively acted upon by additional parties, and could lead to impacts on a party's privacy, reputation, or operations if misused. Recipients may not share TLP:RED information with any parties outside of the specific exchange, meeting, or conversation in which it was originally disclosed. In the context of a meeting, for example, TLP:RED information is limited to those present at the meeting. In most circumstances, TLP:RED should be exchanged verbally or in person</td>
    </tr>
    <tr class="bg-slate-300 hover:bg-amber-100">
        <td>
            <img src="../assets/tlp-amber.png" alt="" class="w-96 ">
            <h6 class="text-center">Amber</h6>
        </td>
        
        <td class="p-2">Limited disclosure, restricted to participants’ organizations.</td>
        <td class="p-2">Sources may use TLP:GREEN when information is useful for the awareness of all participating organizations as well as with peers within the broader community or sector. Recipients may share TLP:GREEN information with peers and partner organizations within their sector or community, but not via publicly accessible channels. Information in this category can be circulated widely within a particular community. TLP:GREEN information may not released outside of the community.</td>
    </tr>
    <tr class="bg-slate-200 hover:bg-green-100">
        <td>
            <img src="../assets/tlp-green.png" alt="" class="w-96">
            <h6 class="text-center">Green</h6>
    </td>
        
        <td class="p-2">Limited disclosure, restricted to the community.</td>
        <td class="p-2">Sources may use TLP:RED when information cannot be effectively acted upon by additional parties, and could lead to impacts on a party's privacy, reputation, or operations if misused. Recipients may not share TLP:RED information with any parties outside of the specific exchange, meeting, or conversation in which it was originally disclosed. In the context of a meeting, for example, TLP:RED information is limited to those present at the meeting. In most circumstances, TLP:RED should be exchanged verbally or in person</td>
    </tr>
    <tr class="bg-slate-300 hover:bg-slate-100">
        <td>
            <img src="../assets/tlp-white.png" alt="" class="w-96">
            <h6 class="text-center">White</h6>
       </td>
        
        <td class="p-2">Disclosure is not limited.</td>
        <td class="p-2">Sources may use TLP:WHITE when information carries minimal or no foreseeable risk of misuse, in accordance with applicable rules and procedures for public release. Subject to standard copyright rules, TLP:WHITE information may be distributed without restriction.</td>
    </tr>
</table>






