---

import Calendar from "./icons/calendar.astro"
import MapPin from "./icons/map-pin.astro"
---

<section class="bg-center font-mont py-20 bg-gunmetal">
    <div class="px-4 mx-auto max-w-screen-xl  ">
        <div class="section-title">
            <h1 class="pt-20 text-4xl font-extrabold tracking-tight leading-none text-white md:text-xl lg:text-4xl uppercase text-center">Community Emgamenent
            </h1>
            <img src="assets/pata2-cinnabar.png" alt="decor" class="mx-auto">
        </div>
        
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
          <div class="grid grid-col-1 md:grid-cols-3 gap-5 justify-between items-start pt-10 ">
            
            <div class="bg-white p-3 rounded-2xl border-cinnabar border-2">
              <img class="rounded-2xl" src="https://s7712.pcdn.co/wp-content/uploads/2025/01/TAI-NYT-03-1160x653.jpeg" alt="">
              <div class="p-3">
                <h2 class="text-cinnabar text-xl font-bold uppercase pt-3">NYT EXPOSÉ: MASS SYSTEM OF ABUSIVE BOARDING SCHOOLS IN TIBET</h2>
                <p>
                  New York Times investigation finds Tibetan children suffering widespread and systematic physical and psychological harm, cultural erasure in Chinese government-run boarding system
                </p>
              </div>
              <div class="flex justify-between p-3 text-gunmetal">
                <span class="flex"> <MapPin/>Tibet Action</span>
                <span class="flex"> <Calendar/> 12/2/2025</span>
              </div>
            </div>


            <div class="bg-white p-3 rounded-2xl border-cinnabar border-2">
              <img class="rounded-2xl" src="https://s7712.pcdn.co/wp-content/uploads/2025/01/Deepseek-1-1024x1024.png" alt="">
              <div class="p-3">
                <h2 class="text-cinnabar text-xl font-bold uppercase pt-3">Random Text Heading</h2>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis quibusdam quisquam vero, voluptatem perferendis assumenda nisi corporis. Iste doloremque, quos quisquam veritatis fugit a maiores ad, sed saepe in nulla.
                </p>
              </div>
              <div class="flex justify-between p-3 text-gunmetal">
                <span class="flex"> <MapPin/>Tibet Action</span>
                <span class="flex"> <Calendar/> 12/2/2025</span>
              </div>
            </div>

            <div class="bg-white p-3 rounded-2xl border-cinnabar border-2">
              <img class="rounded-2xl" src="https://s7712.pcdn.co/wp-content/uploads/2021/05/7-1024x724.png" alt="">
              <div class="p-3">
                <h2 class="text-cinnabar text-xl font-bold uppercase pt-3">Random Text Heading</h2>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis quibusdam quisquam vero, voluptatem perferendis assumenda nisi corporis. Iste doloremque, quos quisquam veritatis fugit a maiores ad, sed saepe in nulla.
                </p>
              </div>
              <div class="flex justify-between p-3 text-gunmetal">
                <span class="flex"> <MapPin/>Tibet Action</span>
                <span class="flex"> <Calendar/> 12/2/2025</span>
              </div>
            </div>

          </div>
        </div>
      
    </div>
</section>