---
import Key from "../components/icons/key.astro"
---

<footer class="bg-white dark:bg-gray-900 font-mont mx-auto pt-20">
    <div class="mx-auto w-full max-w-screen-2xl">
        <div class="md:flex lg:grid gap-8 px-4  lg:py-20 md:grid-cols-3 justify-around   ">
            <div class="mx-auto py-5">
                <h2 class="font-cinnabar text-2xl text-cinnabar uppercase text-center font-extrabold">Around The Web</h2>
                <div class="flex gap-3 justify-center p-5">
                    <a href="http://facebook.com/tibcert" class="text-gray-300 hover:text-gray-900 dark:hover:text-white">
                        <svg class="h-8 w-8 "  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" /></svg>
                        <span class="sr-only">Facebook page</span>
                    </a>
                    
                    <a href="https://x.com/tibcert" class="text-gray-300 hover:text-gray-900 dark:hover:text-white">
                        <svg class="h-8 w-8 "  width="24" height="24" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
                        <span class="sr-only">Twitter page</span>
                    </a>
                    <a href="http://github.com/TibCERT" class="text-gray-300 hover:text-gray-900 dark:hover:text-white">
                        <svg class="h-8 w-8"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" /></svg>
                        <span class="sr-only">GitHub account</span>
                    </a>
                    <a href="https://instagram.com/tibcert" class="text-gray-300 hover:text-gray-900 dark:hover:text-white">
                        <svg class="h-8 w-8 "  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg>
                        <span class="sr-only">Instagram</span>
                    </a>
                </div>
            </div>
            <div class="mx-auto py-5">
                <h2 class="font-cinnabar text-2xl text-cinnabar uppercase text-center font-extrabold">Contact Us</h2>
                <ul class="list-outside text-slate-300">
                    <li class="py-2 hover:text-slate-200 text-center"><a href="#">support[@]tibcert.org</a><button class="pl-2" data-modal-target="support-tibcert" data-modal-toggle="support-tibcert"><Key/></button></li>
                    <li class="py-2 hover:text-slate-200 text-center"><a href="#">submit[@]tibcert.org</a><button class="pl-2" data-modal-target="submit-tibcert" data-modal-toggle="submit-tibcert"><Key/></button></li>
                    <li class="py-2 hover:text-slate-200 text-center"><a href="#">info[@]tibcert.org</a><button class="pl-2" data-modal-target="info-tibcert" data-modal-toggle="info-tibcert"><Key/></button></li>
                </ul>
            </div>
            <div class="mx-auto py-5">
                <h2 class="font-cinnabar text-2xl text-cinnabar uppercase text-center font-extrabold" >Links</h2>
                <ul class="list-outside text-slate-300">
                    <li class="py-2 hover:text-slate-200 text-center"><a href="../../RFC2350.pdf">TIBCERT RFC-2350</a></li>
                    <li class="py-2 hover:text-slate-200 text-center"><a href="../../page/code-of-conduct">Code Of Conduct</a></li>
                </ul>
            </div>
        </div>
        <div class=" md:flex md:items-center md:justify-between py-10">
        <p class="mx-auto text-center">
            <span class="text-sm text-gray-700 dark:text-gray-600 sm:text-center">TIBCERT is a Project of <a href="https://tibetaction.net" class=" hover:text-slate-500">Tibet Action Institute</a>. | Copyright © 2025 <a href="https://tibcert.org">TIBCERT</a>
            </span>
        </p>
      </div>
    </div>
</footer>

<!-- Support Tibcert Modal -->
<div id="support-tibcert" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    PGP Keys for support@tibcert.org
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="support-tibcert">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
               <pre class="text-white text-xs">
                -----BEGIN PGP PUBLIC KEY BLOCK-----

                xsFNBGRd4xYBEACoe9013Dy5aC8TjD0lTHHQ+ax1m7dcwT5EDDlL9cHjmL5JtJKs
                7adgQEdbdTSvjDvjdJAwZS5hSBrFG24sCFZskwh48IUdQGXMan7jpG3SF46eS09w
                BplSqRjYv6DPrG5JaEOYA1CmtP+cn/hp6DhtPze1MPUnA3Sgve0FSefr0rbXGJjK
                lo58HUbmWbX4Ap53ZRnBbG8hPSNVbclMtoSqj49e2zjjZazga6cI9kFOHb+CkAdH
                Om+DhMMg7Xn+8ue6BY0AV9wtD6jaMg+DZHKWJUnGOm6ZVkMrE52HTMII6+D+q7+h
                ZL8vIWgcdsx+zrixE498ZFeDYvPrFBL+4EJ/9V3vLJ4K+45HleQfgMsGp6ER2tMa
                6KkUS0+iEgfG2XVexFoic5tlXEDwkWQmjq66axiFWYHABgaaRTqidO/RkjHbfxw+
                naCJQ6WOFhKLEmseHV3WBGb41RfqaoWMIhKkIK0Ns5lGvuJjD1lMEFqHLsDxfM+e
                dBJ0Pu5Tn+J8arEBQTczrhXt59d/lXb6q5rH7d/g3B2D/EKKmxEnUv7lLPNxE8Id
                PgJ/Da+OT1kDME5XKy4xIjj9KAksHEpC91HS7bCajb+6phWUnxvD47CF08pO2al0
                elWE1isYv7AH++lVlzdLrRb1l2Bi6kEPJwxxRkt9Z1Ull0ZTS61EeUbg7wARAQAB
                zSlzdXBwb3J0IHRpYmV0YWN0aW9uIDxzdXBwb3J0QHRpYmNlcnQub3JnPsLBjQQT
                AQgANxYhBI7ApZNg1FYleOZvzfDVZfwZGiE2BQJkXeMXBQkDwmcAAhsDBAsJCAcF
                FQgJCgsFFgIDAQAACgkQ8NVl/BkaITbLPBAAlpnPJEpQQhJfO/bTFWUJlajRsJ0j
                rNSH1NIgQRJY+EEFJ+0LvuuDNC8VMypD/fmuhv3FaI/ZpWWMdfb/icFxRgZbb8jD
                SStemdZij8Ctcy0z4XrQHL9+TjglheAGpBjDc1TEwubInINa9N4p1J1/Ffmccz0x
                /Rq+rS7rrlTYoIOuRykvsGooNUK0gGwG5WIFSrIOjnm1WxVtUOf6TVK/i/0fXtL8
                Asv0FEG4B0+0u6SNs2qs1iyoBeLZTkbhHcmr1uVeHlEkRii2a42dDMx/764/7o0+
                /UJqrlkhjVpwDU2I7Ix/wmKXMKBMuOAsKZ8960nIyQH9O0MK4j+CDJoYomNz4Pws
                zs/Gi823B0X73SQRr50aYTixvRnMAfsITa3ftiKz0T9x7xNnHBZiXw3XUG4CIT1z
                YG49+tN13B18kI6aIO3jikNiWcxL0Ar7l6ORgkzJZRsY41Ogc2nsLPfQgi3a/3QQ
                OJQuKsNXil1/NiJupwWCILPheth0rMlrGZth4yD4S1sdXWCZJm/EVtHtQJe7sgD4
                bNlnlHmMOguE3feULpupHZzu6sstsK2307+rPLP3Wt4YjRvevYrwWdI7gIYZdQWR
                kSwZLWqdu3Riu760U9CZA2PgXds4G0ERkNAyb3Axh8i4BKjMUcy0Wmsz06fiB62B
                iCKM4L95nM+iJDjOwU0EZF3jGAEQALJ1DSiChZaIbZfa854kL8+IiBtTLJdpRDBM
                xNgLyDpaX8AWatmT7GzlwHl7vZRHA1BwqH5mmoToy8UYXmZBKbe58dw35fGZQljm
                +oj30oTPifVvjLEe7E2AOt3s3IAI9JREY1qA6u6S+4XJvBFPHqIdGDw3aduvf8on
                0+mxOxP+lEicUGZVBYaMg/a3aHIfg1gcsKblElQeIJUajKKVKjzs28fktP1uRlK/
                Bz5aRxiui0YqdY7f35N9xMNLCskeRxlGQmA8ZYsc6fVQq3Rjz7ZR8qfIWA9Y3OCf
                ntCIgvRuGPqB/I/uEVc0HPGn4ey7mAAxLjT9gsmfydrtb8p/FfQube0Heap0aRWn
                ZpcHfpe7IljIwG3uv4GKkTLDm8lwYvwJIgtJxGhjxoBS4ac3lVyb970kDJaAY7kY
                433+sU5oQETkSD/VPt+0FfWD30oZthM1qr2evGoBolg2D38OVVk+y3vH4jQgsNqA
                RYKkMT9LqR9TrePYYRNEXmINvzedCoWlTP5uj6Z0TzYAjd9Ltq2JCS6cNNs+Lh8y
                tz25SJqc0T9ob5j/M1gN2v398fzCaOCtoPPB+nh8UJbNlTNDOR9Rrmg0djwBVkRV
                cNNyCMfJ8EsBorY0NG9hmpe8ZsvSPLX9QDXz/RitoU6zSXZnPmDWF6JF8d6pn3o+
                XvwpHcZzABEBAAHCwXwEGAEIACYWIQSOwKWTYNRWJXjmb83w1WX8GRohNgUCZF3j
                GQUJA8JnAAIbDAAKCRDw1WX8GRohNms8D/sHC+Ywnyv3edExQZfdyTSpyKP9jy4L
                NiUF4cwGVNphiVGdqSsoLQpi5pEfGs9hdlZG8EcO4KRHp4rAUsVt8Jq4woF6w91b
                EQFCHh6ljoNLXW2TXP7sAnDjzot6WUrZt5M1TXIw4XXOOE0/CwIkNczh8h3EDBxN
                WxijH4o5PcIAi3MPhAFKHSIrsxa7jRkxVHKnA/329uP1RWENAnCwRl7XiDZLwuCf
                0MKU4ol29yw9ywULWUFzrMuAkVQPI/e/SvSbjc+VBW1Je9w98tPN/pBgDVvqof5k
                JlPhmxw53Vmma/TUh+zF2t/b99IdI7+g7D4+HPuYoORHidSL7/PLrTDhn0+mY+py
                tMUfyQ5pC1YvSQintgTFVuYL6gVIUaU3EbDjojqE5xN96+8v3gEKnu4RkW+D/m7R
                EKR/Z9frb+aQmzUPc3SO0+C5PHC+F+9j8Q+e0N9b/nLyY6wcX3Jf2HR02s9BkTkz
                4YwgSWK3JDsf2v+CNojXY8jGm9Ui/Reouxhj+zUHI4nK/gPbNtNfoOhXuMDwZYlj
                0ZSjl0LjyoaL+89Dt2Ss6GOcjOVT51vz3izh5uyIdiAEocsEs6aRRKEb6TiC7C+V
                S6qRMHAIC/D90Z5qHTEipmAj2uZRTeLrbG1e3g61V0310mMojOgNqpNX+ar66VeT
                TLqo0fsP6oej8w==
                =l9tf
                -----END PGP PUBLIC KEY BLOCK-----
                            </pre>
            </div>

        </div>
    </div>
</div>

<!-- submit Tibcert Modal -->
<div id="submit-tibcert" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    PGP Keys for submit@tibcert.org
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="submit-tibcert">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
               <pre class="text-white text-xs">
                -----BEGIN PGP PUBLIC KEY BLOCK-----

                xsDNBGR2yK0BDACtnkPVO92qwP4YtqkfKmHu6Fdm0ZEdeXo5z8+0bU5oQACRGYQn
                5RbL+LFgifJdArE74el2NQlDI1PU7JNj3IONOdZqmL2HH67oauuCWLttM12ROyaI
                tKVZeo077WKKEj59JS3rm5T3+pO654BrHFWS/N5fWjJ4w4AelbkDGBnweJ5qeAMR
                geq4pXgF9iGjlV5Y00GZOGFEERNhPNrarNCsd8J0QjVjwuP+0mK84M/ocpJ5BKXw
                PTd5dE5hoNU/dIUdAUFqdxMuy+REVhd7zb77jYpPFPtKPeNY32cZUDdSMOg958RD
                2YmMELOYN/1vnibZuxHKdrwJcC3mn3Eh91Xpgx44aboe6YkV6cFJrnd2gBBldmRt
                4/le+arFSEIMZ0yQvtPhrxK8n+ILjy/C3kqmlQ+3hoWyKmnpUBy9ZOXJSGMo8x/6
                aNGSiFQcT1b+qk3C37gtCPf2pNUpHg4uhzXst8KGSHPzixfZGk5yXVOE5kdASE4B
                39ncldKkD7dT04UAEQEAAc0idGVuemluIHRoYXlhaSA8c3VibWl0QHRpYmNlcnQu
                b3JnPsLBDQQTAQgANxYhBMpTFpDnmqtiKYu6dYaNcvfh3K3vBQJkdsi0BQkDwmcA
                AhsDBAsJCAcFFQgJCgsFFgIDAQAACgkQho1y9+Hcre/9Ugv/bTS7AIxSDrhTDxvC
                Xdwf4fOsMy12UvWoTimPxPodhBEex3nBtvQBaEbMMGoVJlSzix95WjmhS+z3fSIe
                kzaXdkkbdlAfowrPA0jJrr7PZTYOkXDTC35+ZO4BVATahTecbOch9HTx6KrM9vjG
                bhumrSJgGUn0LFFiNbmHsPWvMOOuTlURnjzsdbXXblkpnXHKR57b0Myt3s39rXDq
                ABK8NTitu5yWFIVomYL3H6q5eqPE4+vb/+5Z8feAIb4NfxYvSfafLrZYz0+/zWSc
                cXC5LBmlRd5iYqcpu/AfYbYJ0mxcR/5x5Yrwqfrg/XVpIUr8+xdFaarOJQUxFOHS
                rWAeh6zSyNvGk3sLSwAoIk2lKHWmXWHigbHCuSvPiJtSLgSveJyOMGLcbr0lpU2B
                UXEtTEt0jB2TbycDwEik8aOa/T8qtbtlglS2mHTQNYZQNB8wiME8HQc6zc8FTkUX
                Yew8lWpq/qUvUmfU6pLUkY//eWmV4HtUWgL3nAQiBeA2K/bQzsDNBGR2yLQBDADS
                C6n0SStmmMhKR13mtyFj04j+2j4Lg04kmu3CLSQ1zOKC95pGQ30o1T17tme52vnC
                OlshpG9SEy5mEw0/9YBadFZhpjcrE5W9DUzlfwHoVyJOA5ux/exjRTD6GHd2FJMY
                Ee9gOCh6cLyaUMizfcntQPvR2Z5nMMfsj28Zym6bTfYs6uSmGvbG+15q5KV/sq3V
                ftAto2Di4nTEx8Pe2aXCmTZGQDXuddQMP++eBgrmkuIHpbxsaibPFkJmZYhXUeR6
                C3jB58U+oPyY8odK2XPWV9cJNZiYXBHpBVkveuhziKVxgjDG33/LWS2lUkwuN3Rp
                T2vMTPBMynBiCReweK2ZzU20LpNYFe14xhdXnx67Q3eJNct6coW821BRF9Wfn1Hh
                b5dxbwC6hEX2QX9wyMfDnGiwZhnL2tUl6BcDJW6W6+udMyyJYPPec78fDxs8tMgj
                oPS3RA+omQC0RmvzLPNiB2qQqD0ExMisBnwobl8D55fGa5210f3rOVJ7l5SJxu8A
                EQEAAcLA/AQYAQgAJhYhBMpTFpDnmqtiKYu6dYaNcvfh3K3vBQJkdsi4BQkDwmcA
                AhsMAAoJEIaNcvfh3K3vB1oL/jrbPQPo0ST+dfjQLoYVF7eUMLkt+5ul1JZ2EVtR
                7Nx/pyu7dl4F2sjsrqZKRuy7jYKjXAdKQA6v6z4B8/sQcZA3u1nvbRZ9uVImBH5U
                /nrzHBMRd6U9wFbcVGhMSnKfi6U5OwiRDrO6zSi+ODhG3y0+pCl13GYONOBQK4Al
                XOny97khkrkq5oPks8R93z14vUm1PJF9odBG6eYHY+HacMmEEhXx9+p7q3dUpOvU
                p126OhAMNC+YR8DixWzOBzyXftR/9tQ5vcxBGBTDdKn8PUlT4AD9eI2fno4yaExr
                KKLf5LucMIGTSdz9WKsfU9sm1Yyw36WAR7eosHuY4Rk7Tk5n/oBNmNJxwu8Hf518
                6qxTLZ8J5xCnxqWRxUrugtXQ8DYqK77Zxp0a6lqJgn0FMxZ4zhrIt7OF907Ui+ka
                xtsJ3200eDJO8aUGk4x13Vl+bdka9Tj3KMV6npv2EQ8osU+EN99L5X1hB8PU9b3a
                B8EJX6Az6QnXkBplmNFCFIQ6bg==
                =bo5X
                -----END PGP PUBLIC KEY BLOCK-----
                            </pre>
            </div>

        </div>
    </div>
</div>

<!-- Info Tibcert Modal -->
<div id="info-tibcert" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    PGP Keys for info@tibcert.org
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="info-tibcert">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
               <pre class="text-white text-xs">
                -----BEGIN PGP PUBLIC KEY BLOCK-----

                mQINBFxiUikBEACtUV3WxJCbwiHCfkSzasd1B8k4z79LKcAojvWmSxG0rkT3ojxJ
                BH85Yb3/I0NRf5PyAnb7ly2nLEGkIU4Y1mZw8WZ1hZ6LSEnMxhdlUMeRENNZBpUI
                witjHhubm4gqg2nB7tOMqUpCmB7Vy+f6gK+pAj8fG4cOyPPo85eZYsAIzbGKUYfn
                al9dPcHO3PRKGoIYqS40v31VTL/guZGqB+mtBeBfAea8Ad6W9hKpoQPxRnGmAnmv
                QyldNTZLCwZ4Xh9F2Jk41OSPddJJV8EDtn2PWdfN8JLzCXKS8QWS8Rewshtso2KO
                DTPKeMffhcNswp1DAqFbm+MtMC/cpZb1uWXE9paIfSZvPcpHgBLv6Qk7tML9RN6S
                kA1n+N2vJ4Mw5+8b9wiBIcMKqU/Z9gQzGlk3EAB7rEqnIxAw0S2BBBDtIwN6qD/A
                tRIr0JgqIHnoFJkljwC5MKdqJ4kEmbNgWFNm27dLVFxcdrMHRPHMW2MRTkIZwe8j
                9rNP8QuwX/awg/iatGwr5jMmIMlcQmFC4UYVtS+IZB9Jm88PkbMk/im/PC3uFisz
                AVM72KzX1QP4IVg5u3boc4gbRlDQXAiw2AtW9qWOJe/eID9mG+oImh3F1bBze3Ko
                J+q24Wwf6fipWNGfjOVBYFBhxgjaUAAEftnx1jPT+Q4UqIxjWUJqU5y4lQARAQAB
                tCFMb2JzYW5nIEd5YXRzbyA8aW5mb0B0aWJjZXJ0Lm9yZz6JAlQEEwEKAD4WIQTR
                xY3m5FtN15Lv+XDzTGxBpWnxhgUCXGJSKQIbIwUJCWYBgAULCQgHAgYVCgkICwIE
                FgIDAQIeAQIXgAAKCRDzTGxBpWnxhsfOEACLZhqd5e6eaJgwEMRRcHumsqKpcLWV
                0fl1uPVwNBrwFaQb9tao5Ud9Sne6r2zNAu+LYTW+0dH4KrbUBwCtIXCnxMZRR8+9
                6nwL23C8+eEV7hTEDo9cD75O4x2ee4Bru/iPh4LqGoXuI/6AP9NHloF0OGHEFCQL
                5HcieqRr/ktKMHNPiD61MRiaOMW0EILJVw80iHKlmY8zOD/WzPU8RjM1WJDVVaU6
                uBVfQKELg3Q3zIztoNeBZbQErBd1hElWOOTtn3sj1P1Pj9lcmwRD3DmW6Splx7Th
                Y9tH35V/MeojSTAx6TMk1JGG7hlc29oipQO8/uNPy48IIYzpqwA3DgAq190l6HQJ
                QReMTW4n16cuu1Uml5GfM++RALqynbCLA14lEnEwYxWBm6wjTpKNOL9FWMEdoWlx
                ldAywJksmQ0MopycqMDMKX2flLBK16alRyNtJICSrYyckNt7NQbFHwdbpQtmWQyK
                kFY86A/VmhuLEjtEPnpQ1JOUhfdXuAFBoIpdmwNI75uU8EnWXBeY5dJyI7DZ8SKC
                cULLcR57ArCotwP9s53U5B8TLSJ+ch+55dt1zIxvdzj3eDc4oK9TVKQfiCjrVU4U
                u/rVwtxo1ApNqPARzd3jDTdZoFO/bv7SPlDkdAFlN4+6mth+gkb4UM6+ctpr7Ros
                FwiqbVuO9VLRVbkCDQRcYlIpARAA0RiAYEjPqAjUUDQq/hoqkanW7qzoIIFcEuj+
                eD6AVls2tiIkRIh5/fNFC/Je4IKAreDMFuUvIEKH5mwernEhP/j9pX+H68Wq62xX
                rAtI6TfzSJ39eVRuNTu+x1ttG5b9DFg8Co6jwJwvMJQX9mvf/rlq7vTDP3k3x/CM
                PFuj86qyZxV4sOEJVZ/U7qjQBGEOWcaNBr8LcJNMl6Lev7Q+9vyDCwEBapEQBkLv
                fsx7AI6KmiYw9e2Y094H1ersyTwabqJZHQ5pdgSS5gD2ZjqJy+jN9ngAofzI6lSd
                HWd0O5ZgMijDOUvO7cmSHAD6ANnPKTkbiPhPeLTVUSnL5VmDWVomNE+B7fBbt1Ls
                HZCXcdplyLD7lOMwlrucQAWVEWUZkL8xonQUHtP60DmsKpEfHQ5UZPUIiZl6OUlD
                G/FlDasmy3s90Y4ccuS0MSPf5f3YWyLDqDeKjWmC51roLpw0iI0CupvSKpQOnHaq
                z5m4N9B1YA/g8s/jELYeA4EDBxvzMZ5XsXtncpppCF/ovVTTO27b7ZjaP2+iZ6Ns
                gUY+9nonE28XjzY4xzWncaWw7oN9QS8cjjqRchAzyJNWmqotFaOdhCeDF/go+RD9
                chSBf2gju17YoJIspdfE/bC+d7qtSIMYHmYx5qHDq98GrdGQcqkq5KWjx9OFwuih
                PN9G3F0AEQEAAYkCPAQYAQoAJhYhBNHFjebkW03Xku/5cPNMbEGlafGGBQJcYlIp
                AhsMBQkJZgGAAAoJEPNMbEGlafGG4lwQAKKqcqJFaJr8ZNj1/p9wdBtIFRFTnEZt
                UK1nNu5j+cYoZqYUfatakZdjXbKOtNNyKX58jA6HdK6n+diVrJeoPNxxjxKsfYXI
                HbCwHd7l15JKsjwuKYY87ACCMmRr4ptS6Ob+7e/5JV5r9/4NA/Fmkqoj60QCdOSO
                t3hshn0rXBBubHwos0fdMuyULrRxwem348Qsw8TapUwizQAn5RJz3f3BgMEJjeIE
                Vg8WohyxpTBSoTo45oiq2tE8aci/cIqQLcfycFra5i8oBLie01EARWSmFGeYcQFM
                POsMo8ugitdTmbvvkKz5Sez7yPgxnzGCtFu0O/ka3jqyj8v8bech8oFRMPeP/cbV
                EBfZoPx3ddIVL8gZlcHoxTnzBer0p1CahWE/BcPp497i+MxEiDA2DC6sYHdER9zb
                I4zFyBsx1/kDCxl+MEngE+yM3H7YalOgjdHhfIwUpLxgmpf9dDwTWdjXwSznTiyK
                l5vDlWhsvV+H8loMFSK6LD8s3LMBgGlrDY4b/0BRjBvL+dJvWp9do13yObEDO1vN
                UM7njSP8fC6Q0O3uCNqRAWAkBNGjPVrvYmc3ZDCEKZiw3dH/7srGSgCuZZub74tj
                vxFcpdQrWMdIWgHwB69sBfyZXkfE+YMhpjQcUk0XcXkUqbolNH1roIz/JNQKLp9V
                Ae1K3xfDtkfy
                =0GGs
                -----END PGP PUBLIC KEY BLOCK-----
                            </pre>
            </div>

        </div>
    </div>
</div>