---

---

<section class="bg-top bg-no-repeat bg-[url('images/tibcert.jpg')] bg-gray-700 bg-blend-multiply font-mont ">
    <div class="px-4 mx-auto max-w-screen-xl  py-24 lg:py-40 ">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl text-center pt-20">TIBCERT</h1>
        <p class=" text-xl font-normal text-gray-300 lg:text-3xl sm:px-16 lg:px-48 text-center">Strengthening security and building technical excellence of Tibetan organizations through collaboration and knowledge sharing</p>
    

        
    </div>
    <div class=" max-w-screen-2xl grid lg:grid-cols-3 gap-5 mx-auto relative top-10 ">
        <div class=" h-10 bg-yellow-500 absolute z-10 -top-5 -rotate-[20deg] md:-left-10  flex items-center justify-center rounded-sm animate-bounce shadow-md">
          <p class=" text-center px-5 ">Latest</p>
        </div>
        <a  target="_blank" href="https://digital-disruption.tibcert.org/?fbclid=IwY2xjawHFJThleHRuA2FlbQIxMAABHUXgOhowqgnhJ1jrViCTH_DWy3HuuhgwtmSyRy9UMKYHR2yBWoEpM9XXHw_aem_lVqAZlAQ-OTp1m5n7QJWhw">
          <div class=" bg-cinnabar/80 backdrop-blur-xl grid grid-cols-4 shadow-xl border-2 border-white mx-3">
            <div class="col-span-3 p-3 font-bold font-mont">
              <p class="text-white">Digital Disruption: Exploring The Impact Of Cyber Attacks On The Tibetan Community In Exile</p>
            </div>
            <img src="images/digital-disruption.jpg" alt="" class="w-full ">
          </div>
        </a>

        <a target="_blank" href="https://blog.tibcert.org/posts/cyber-espionage-against-tibetans-an-analysis-of-over-two-decades-of-publicly-available-data/?fbclid=IwY2xjawHFJiFleHRuA2FlbQIxMAABHTarnERMLpLswaIHOKrT-m32W8Plc-SVAglMZELFWrwLu7gTTEjF4-ISIA_aem_Yd6htccAvVwks57CYhocAQ">
          <div class=" bg-cinnabar/80 backdrop-blur-xl grid grid-cols-4 shadow-xl border-2 border-white mx-3">
            <div class="col-span-3 p-3 font-bold font-mont">
              <p class="text-white">Cyber Expoinage Against Tibet, An analysis Of Over Two Decades Of Publicly Available Data</p>
            </div>
            <img src="images/cyber-espionage.jpg" alt="" class="w-full ">
          </div>
        </a>
        
        <a target="_blank" href="https://blog.tibcert.org/posts/can-you-trust-a-chinese-made-android-phone-/" >
          <div class=" bg-cinnabar/80 backdrop-blur-xl grid grid-cols-4 shadow-xl border-2 border-white mx-3">
            <div class="col-span-3 p-3 font-bold font-mont">
              <p class="text-white">Can You Trust A Chinese-Made Android Phone?
            </p>
            </div>
            <img src="images/1-1024x1024.png" alt="" class="w-full ">
          </div>
        </a>
    </div>
</section>


