---
import members from "../../src/data/members.json";
---

<section class="bg-center font-mont py-20 bg-orange-100 ">
    <div class="px-4 mx-auto max-w-screen-xl text-center ">
        <div>
          <h1 class="pt-20 text-4xl font-extrabold tracking-tight leading-none text-gunmetal md:text-xl lg:text-4xl uppercase">Active Members
          </h1>
          <img src="assets/pata2-cinnabar.png" alt="decor" class="mx-auto">
        </div>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 relative overflow-hidden">
          <div class="grid grid-cols-6 md:grid-cols-10 gap-5 md:gap-13 justify-between items-center pt-10 logo ">
            {members.map(member => (
              <img src={member.logo} alt={member.org} class="w-25"/>
              ))}
          </div>
        </div>
    </div>
</section>

<!-- <script>
    import { gsap } from 'gsap';

  document.addEventListener("DOMContentLoaded", () => {
    const marquee = document.querySelector(".logo");

    gsap.to(marquee, {
      xPercent: -100, // Move the cards to the left
      repeat: -1, // Infinite repeat
      duration: 10, // Duration of the full loop
      ease: "linear", // Smooth motion
    });
  });
</script> -->