---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const {title} = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<section class="bg-center font-mont py-20 bg-orange-50 ">
			<div class="px-4 mx-auto max-w-screen-xl  ">
				<h1 class="pt-20 text-4xl font-extrabold tracking-tight leading-none text-gunmetal md:text-xl lg:text-4xl uppercase text-center">{title}
				</h1>
				<img src="../assets/pata2-cinnabar.png" alt="decor" class="mx-auto">
				
				<div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
				  <div class="text-xl pt-10 text-gunmetal " id="page-content">
					<slot />
				  </div>
				</div>
			</div>
		</section>
		
		<Footer/>
	</body>
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>

</html>
