---
import PageLayout from "../../layouts/PageLayout.astro"
import Content from '../../content/page/response-hub.mdx';
import members from "../../data/hub-members.json"
const title ="TIBCERT MEMBERSHIP"
---

<PageLayout {title}>

    <p class="text-xl text-gunmetal">TibCERT aims to build a coalition-based structure for preventing and mitigating online threats in the Tibetan Community. To achieve this goal, support services are provided through a membership model. To become a member of TibCERT there are certain criterias which needs to be fulfilled:</p>

    <ul>
        <li class="py-2">Member organization must commit a staff member to join the TibCERT Response working group.</li>
        <li class="py-2">All staff of the office/organisation must be trained on basic Internet security by a response working group member or in a place where Tibet Action has a Digital Security Ambassador. Training will be provided according to the specific needs of the organization.</li>
        <li class="py-2">The organization must have an established digital security policy or commit to developing and implementing a digital security policy in collaboration with a member of the response working group within 6 months of joining TibCERT. In places where Tibet Action has a Digital Security Ambassador, the development of the digital security policy will be conducted by the Digital Security Ambassador.</li>
        <li class="py-2">The organization must be willing to share data on threats they see in their organization (e.g., suspicious emails, malware, etc) with members of TibCERT to help mitigate threats and conduct research by RECON working groups. All groups will abide by specific protocols for how information is shared within TibCERT. This sharing will be guided through Traffic Light Protocol which is a standard used in the information security industry.</li>
        <li class="py-2">The organization must comply with the Traffic Light Protocol for sharing data which is a standard used in the information security industry (available on TibCERT website).</li>
    </ul>

    <h2 class="text-center py-2">Cost </h2>
    <p class="bg-gunmetal/10 rounded-lg">
        At present, there is no membership fee for join TibCERT. To ensure the long term sustainability of this important initiative, in the future the membership may decide on a fee-based membership structure. TibCERT is a community based project and community support is essential for sustainability!
    </p>
</PageLayout>

    
   